<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer;" (click)="onHomework()"><h3>Devoirs</h3></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="cursor: pointer;" (click)="onDocument()"><h3>Cours</h3></a>
  </li>
</ul>

<div class="container col-md-6 mx-auto mt-5 ">
  <h3>Document: {{ currentDocument.title }}</h3>
  <div class="alert" *ngFor="let item of files;">
    <i class="fa fa-file" aria-hidden="true"></i>
    {{ item.title }}
    <button type="button" class="btn btn-success" style="float: right;" (click)="onDownload(item.title)">download</button>
    <hr/>
  </div>
</div>
