<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">New Student</h3>
            </div>
          </div>
        </div>
        <div class="card-body bg-secondary">
          <form [formGroup]="studentForm" (ngSubmit)="OnSubmit()">
            <h6 class="heading-small text-muted mb-4">Student Information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">CNE</label>
                    <input type="text"  class="form-control form-control-alternative" placeholder="CD7541" formControlName="cne">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="text"  class="form-control form-control-alternative" placeholder="sidgui@gmail.com" formControlName="email">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Prenom</label>
                    <input type="text"  class="form-control form-control-alternative" placeholder="OUSSAMA" formControlName="firstName">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Nom</label>
                    <input type="text"  class="form-control form-control-alternative" placeholder="SIDGUI" formControlName="lastName">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">Address</label>
                    <input  class="form-control form-control-alternative" placeholder="Address" formControlName="address"type="text">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label">N°tel</label>
                    <input  class="form-control form-control-alternative" placeholder="Phone" formControlName="phone"type="text">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">School information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label  class="pull-left">Level :</label>
                    <select formControlName="level" class="form-control"   name="level">
                      <option *ngFor="let level of levels" [ngValue]="level" style="color: #0a0c0d">
                        {{ level.title }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right" [disabled]="!studentForm.valid">Submit</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

