<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">New student</h3>

                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Ajouter un etudiant</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Liste des etudiants</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush table-hover table-bordered">
            <thead class="thead-light">
            <tr>

              <th scope="col">CNE</th>
              <th scope="col">Prenom</th>
              <th scope="col">Nom</th>
              <th scope="col">Email</th>
              <th scope="col">Tel</th>
              <th scope="col">username</th>
              <th scope="col">Nom d'ecole</th>
              <th scope="col">Level</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let s of students;">
              <th scope="row">
                <div class="media align-items-center">
                  <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                    <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                  </a>
                  <div class="media-body">
                    <span class="mb-0 text-sm"> {{s.cne}}</span>
                  </div>
                </div>
              </th>

              <td> {{ s.firstName }} </td>
              <td> {{ s.lastName }} </td>
              <td> {{ s.email }} </td>
              <td> {{ s.phone }} </td>

              <td>{{s.account.userName}}</td>
              <td>{{s.account.school.name}}</td>
              <td *ngIf="s.level != null">{{s.level.title}}</td>
              <td *ngIf="s.level == null">empty</td>

            </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
